html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		"Helvetica", "Arial", sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

html {
	background-color: whitesmoke;
	@media (prefers-color-scheme: dark) {
		background-color: #222;
	}
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 1.5;
	min-height: 100dvh;
	text-align: center;

	color: black;
	@media (prefers-color-scheme: dark) {
		color: whitesmoke;
	}
}

header, main {
	padding: 0 7px;
}

header .about {
	margin: 0 auto;
	max-width: 700px;
}

#missingwikidatalabel {
	background-color: rgba(255, 255, 0, 0.2);
	border-radius: 15px;
	margin: 0 auto 1rem;
	max-width: 700px;
	padding: 7px;
}

footer {
	opacity: 0.8;
	padding: 3rem 7px;
	text-align: center;
}

footer a {
	margin: 0 0.2rem;
	opacity: 0.5;
	transition: opacity ease 0.2s;
}

footer a:hover {
	opacity: 0.95;
}

.inputs {
	margin: 0 auto;
	max-width: 700px;
	padding: 0 0.5rem;
}

input[type=search] {
	font-size: 1.2rem;
	width: 100%;
}

.wdItemList {
	align-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-evenly;
	margin: 10px 0;
}

wd-item > * {
	align-items: center;
	background-position: center;
	background-size: cover;
	border-radius: 15px;
	border: gray solid 1px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 15vh;
	overflow: hidden;
	text-decoration: none;
	width: 450px;
}

wd-item > * > * {
	border-radius: 0.2rem;
	padding: 0.2rem;

	background-color: rgba(240, 240, 240, 0.5);
	color: black;

	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}
